.contact-page-main-container {
  width: 100%;
  min-height: 700px;
  font-family: #f1f1f1;
  z-index: 9999;
  background-color: $about-color-main;
  .header-contact-page {
    width: 100%;
    color: $white;
    height: 450px;
    @include display(column);
    justify-content: center;
    position: relative;
    background-image: url("../img/14.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 900;
      line-height: 0.1;
      margin-bottom: 8px;
      z-index: 9;
      text-align: center;
    }
    h4 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: -0.5px;
      font-size: 16px;
      z-index: 9;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.616);
    }

    @include mediaqueries($mobile) {
      h1 {
        font-size: 35px;
        line-height: 1.2;
      }
    }
  }
  .contact-form-main-container {
    z-index: 9999;
    padding-bottom: 100px;
    width: 100%;
    @include display(row);
    .form-wrapper {
      width: 60%;
      padding-top: 100px;
      .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .form-control {
          margin: 10px 0;
          margin-left: 100px;
          flex: 1;
          background-color: $white;
          @include display(row);
          justify-content: flex-start;
          input {
            height: 45px;
            flex: 1;
            border: none;
            padding: 0 30px;
            font-size: 16px;
            color: lighten($dark, 20%);
            &:focus {
              border-color: $primary;
            }
          }
          textarea {
            height: 150px;
            max-height: 150px;
            min-height: 150px;
            flex: 1;
            width: 100%;
            border: none;
            padding: 30px;
            font-size: 16px;
            font-family: $font-family;
            color: lighten($dark, 20%);
            &:focus {
              border-color: $primary;
            }
          }
        }
        .contact-form-error-message {
          margin-left: 100px;
          margin-top: 5px;
          color: red;
          font-weight: normal;
          font-size: 15px;
          margin-bottom: 5px;
        }
      }

      @include mediaqueries(1000px) {
        width: 55%;
        .form-container {
          .form-control {
            margin-left: 30px;
          }
        }
        .submit-btn-wrapper {
          padding-left: 20px;
        }
      }

      @include mediaqueries(770px) {
        flex-direction: column;
        width: 78%;
        .form-container {
          .form-control {
            margin-left: 0px;
          }
        }
        .submit-btn-wrapper {
          padding-left: 20px;
        }
      }
      @include mediaqueries($mobile) {
        flex-direction: column;
        width: 90%;
        .form-container {
          .form-control {
            margin-left: 0px;
          }
        }
        .submit-btn-wrapper {
          padding-left: 20px;
        }
      }
      @include mediaqueries(350px) {
        .submit-btn-wrapper {
          padding-left: 0px;
        }
      }
    }
    .contact-detail-wrapper {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: -100px;
      padding-left: 50px;

      .contact-item {
        h3 {
          font-size: 20px;
        }
        p {
          color: lighten($dark, 35%);
        }
      }
      @include mediaqueries(770px) {
        flex-direction: column;
        width: 78%;
        padding-left: 0;
        padding-top: 50px;
      }
      @include mediaqueries($mobile) {
        flex-direction: column;
        width: 90%;
        padding-left: 0;
        padding-top: 50px;
      }
    }

    @include mediaqueries(780px) {
      flex-direction: column;
    }
  }
  .submit-btn-wrapper {
    width: 100%;
    @include display(row);
    justify-content: center;
    padding: 20px 50px;

    .btn-container {
      background-color: $primary;
      padding: 15px 45px;
      border-radius: 30px;
      color: $white;
      text-transform: uppercase;
      font-size: 14px;
      cursor: pointer !important;
      transition: $transition;
      position: relative;
      overflow: hidden;
      &.sending {
        .sending-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.616);
          // z-index: 9;
          cursor: not-allowed;
        }
      }
      &:hover {
        background-color: lighten($primary, 10%);
      }
    }
  }
}
.map-container {
  width: 100%;
  @include display(column);
  justify-content: center;
  align-items: center;
  height: 700px;
  .content {
    width: 100%;
    height: 100%;
    .map {
      width: 100%;
      height: 100%;
    }
  }
}
.contact-page-main-container {
  .loader {
    border: 6px solid $white;
    border-radius: 50%;
    border-top: 6px solid $primary;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.loading-spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  margin-top: 20px;

  @include mediaqueries($tablet) {
    padding-left: 20px;
  }
  @include mediaqueries(900px) {
    padding-left: 20px;
  }
  @include mediaqueries($mobile) {
    padding-left: 0px;
  }
}
