@import "./colors";
@import "./mixins/display";
@import "./variables";

.footer-main-area {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 480px;
  left: 0;
  background-color: #212121;
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  @include mediaqueries(800px) {
    position: relative;
    height: auto;
  }
  // display: none;
  .footer-upper-area {
    flex: 1;
    display: flex;
    .left-area {
      width: 30%;
      margin-left: 90px;
      padding-top: 40px;
      h1 {
        font-size: 40px;
      }
      p {
        line-height: 1.6;
        font-size: 16px;
      }
    }

    @include mediaqueries(1000px) {
      .left-area {
        margin-left: 30px;
      }
    }
    @include mediaqueries(350px) {
      .left-area {
        margin-left: 10px;
      }
    }
    @include mediaqueries(900px) {
      .left-area {
        width: 27%;
        h1 {
          font-size: 30px;
        }
      }
    }
  }
  .right-links-area {
    flex: 1;
    margin-left: 40px;
    margin-top: 50px;
    .links-grid-area {
      display: grid;
      grid-template-columns: 30% 30% 40%;
      .link-item-wrapper {
        h4 {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          position: relative;
          margin-bottom: 20px;
          &::before {
            position: absolute;
            content: "";
            left: 0;
            width: 25%;
            border-bottom: 1px solid $light;
            bottom: -15px;
          }
        }
        ul {
          padding-left: 0;
          li {
            list-style: none;
            padding: 8px 0;
            a {
              color: $white;
              text-decoration: none;
              transition: $transition;
              .footer-link-social-media-icon.contact {
                margin-right: 5px;
              }
              font-size: 14px;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }

      @include mediaqueries(800px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include mediaqueries($tablet) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    @include mediaqueries(350px) {
      margin-left: 20px;
    }
  }

  @include mediaqueries($tablet) {
    flex-direction: column;
    .footer-upper-area {
      width: 100%;
      flex-direction: column;
      .left-area {
        padding-left: 10px;
        width: 100%;
        p {
          width: 80%;
        }
      }
      .right-links-area {
        width: 100%;
        margin-top: 0px;
      }
    }
  }

  .footer-bottom-area {
    width: 100%;
    height: 90px;
    background-color: #111312;
    @include display(row);
    @include mediaqueries($tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .links-wrapper {
        padding-bottom: 10px;
      }
    }
    .links-wrapper {
      margin-left: 70px;
      a {
        z-index: 99999;
        color: $white;
        margin: 0 10px;
        height: auto;
        width: auto;
        cursor: pointer;
        transition: $transition;
        .footer-link-social-media-icon {
          font-size: 20px;
          cursor: pointer;
        }
        &:hover {
          color: $primary;
        }
      }
      @include mediaqueries(850px) {
        margin-left: 20px;
      }
      @include mediaqueries(350px) {
        margin-left: 10px;
      }
    }
    .copyright {
      margin-right: 70px;
      font-size: 14px;
      text-align: center;

      a {
        color: $white;
        text-decoration: none;
        margin-left: 10px;
        text-align: center;
        &:hover {
          color: $primary;
        }
      }
      @include mediaqueries(850px) {
        margin-right: 20px;
      }
      @include mediaqueries($tablet) {
        font-size: 12px;
      }
    }
  }
}
.footer-container {
  width: 100%;
  height: 480px;
  background-color: transparent;
  z-index: -1;
  @include mediaqueries(800px) {
    display: none;
  }
}
.app-container {
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: $about-color-main;
}
