@import "./colors";
@import "./mixins/display";
@import "./variables";

.footer-main-area {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 480px;
  left: 0;
  background-color: #212121;
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  // display: none;
  .footer-upper-area {
    flex: 1;
    display: flex;
    .left-area {
      width: 30%;
      margin-left: 90px;
      padding-top: 40px;
      h1 {
        font-size: 40px;
      }
      p {
        line-height: 1.6;
        font-size: 16px;
      }
    }
  }
  .right-links-area {
    flex: 1;
    margin-left: 40px;
    margin-top: 50px;
    .links-grid-area {
      display: grid;
      grid-template-columns: 30% 30% 40%;
      .link-item-wrapper {
        h4 {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          position: relative;
          margin-bottom: 20px;
          &::before {
            position: absolute;
            content: "";
            left: 0;
            width: 25%;
            border-bottom: 1px solid $light;
            bottom: -15px;
          }
        }
        ul {
          padding-left: 0;
          li {
            list-style: none;
            padding: 8px 0;
            a {
              color: $white;
              text-decoration: none;
              transition: $transition;
              .footer-link-social-media-icon.contact {
                margin-right: 5px;
              }
              font-size: 14px;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
  .footer-bottom-area {
    width: 100%;
    height: 90px;
    background-color: #111312;
    @include display(row);
    .links-wrapper {
      margin-left: 70px;
      a {
        z-index: 99999;
        color: $white;
        margin: 0 10px;
        height: auto;
        width: auto;
        cursor: pointer;
        transition: $transition;
        .footer-link-social-media-icon {
          font-size: 20px;
          cursor: pointer;
        }
        &:hover {
          color: $primary;
        }
      }
    }
    .copyright {
      margin-right: 70px;
      font-size: 14px;
      a {
        color: $white;
        text-decoration: none;
        margin-left: 10px;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.footer-container {
  width: 100%;
  height: 480px;
  background-color: transparent;
  z-index: -1;
}
.app-container {
  z-index: 99;
  display: flex;
  flex-direction: column;
  background-color: $about-color-main;
}
