@import "./colors";
@import "./mixins/display";
@import "./mixins/mediaqueries";
@import "./variables";
@import "./functions/home-functions";
.galery-main-area {
  width: 100%;
  height: auto;
  background-color: $about-color-main;
  z-index: 9999;
  @include display(column);
  justify-content: center;
  padding-top: 50px;
  .header {
    z-index: 9999;
    ul {
      @include display(row);
      justify-content: center;
      li {
        list-style: none;
        margin: 15px;
        color: lighten($dark, 40%);
        padding: 6px 12px;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 13px;
        border: 1px solid transparent;
        transition: $transition;
        &:hover {
          border: 1px solid $primary;
          color: ($primary);
        }
        &.active {
          border: 1px solid $primary;
          color: $primary;
        }
      }
    }

    @include mediaqueries($tablet) {
      color: lighten($dark, 40%);
      ul {
        padding-left: 0;
        li {
          margin: 10px;
          padding: 6px 8px;
        }
      }
    }
    @include mediaqueries($mobile) {
      color: lighten($dark, 40%);
      ul {
        padding-left: 0;
        li {
          margin: 5px;
          padding: 6px 8px;
          font-size: 12px;
        }
      }
    }
    @include mediaqueries(290px) {
      color: lighten($dark, 40%);
      ul {
        padding-left: 0;
        li {
          margin: 5px 2px;
          padding: 4px 5px;
          font-size: 12px;
        }
      }
    }
  }
}
.images-wrapper-area {
  @include display(column);
  width: 100%;
  justify-content: center;

  .all-images-main-area {
    @include display(column);
    width: 100%;
    justify-content: center;
    .images-grid-container {
      margin-top: 40px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .image-container {
        width: 100%;
        height: 285px;
        position: relative;
        cursor: default;
        overflow: hidden;
        .image-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.945);
          z-index: 9;
          color: $white;
          @include display(column);
          justify-content: center;
          overflow: hidden;
          opacity: 0;
          transition: $transition;
          transition-duration: 1s;
          h3 {
            font-size: 28px;
            margin-bottom: 0px;
            line-height: 0.5;
            transform: translateY(-40px);
            transition: $transition;
          }
          h4 {
            text-transform: uppercase;
            transform: translateY(-40px);
            transition: $transition;
            transition-delay: 0.1s;
          }
          .galery-icon {
            font-size: 20px;
            cursor: pointer;
            transition: $transition;
            transform: translateY(40px);
            &:hover {
              color: $primary;
            }
          }
          .galery-icon:nth-child(2) {
            transform: rotate(-90deg);
            transform: translateY(40px);
            margin-left: 5px;
            transition: $transition;
            transition-delay: 0.2s;
          }
        }

        img {
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: $transition;
        }

        &:hover {
          .image-overlay {
            opacity: 1;

            h3 {
              transform: translateY(0);
            }
            h4 {
              transform: translateY(0);
              transition-delay: 0.1s;
            }
            .galery-icon {
              transform: translateY(0);
            }
            .galery-icon:nth-child(2) {
              transform: translateY(0);
              transition-delay: 0.2s;
            }
          }
          img {
            transform: scale(1.2);
          }
          transition: $transition !important;
        }
      }

      @include mediaqueries(900px) {
        .image-container {
          height: 200px;
        }
      }
      @include mediaqueries($tablet) {
        grid-template-columns: repeat(2, 1fr);
        .image-container {
          height: 250px;
        }
      }
      @include mediaqueries(620px) {
        grid-template-columns: repeat(2, 1fr);
        .image-container {
          height: 220px;
        }
      }
      @include mediaqueries(560px) {
        grid-template-columns: repeat(2, 1fr);
        .image-container {
          height: 180px;
        }
      }
      @include mediaqueries($mobile) {
        grid-template-columns: repeat(1, 1fr);
        .image-container {
          height: 300px;
        }
      }
      @include mediaqueries(380px) {
        grid-template-columns: repeat(1, 1fr);
        .image-container {
          height: 250px;
        }
      }
    }
  }
}

.acomplishments-main-container {
  z-index: 9999;
  width: 100%;
  min-height: 280px;
  background-color: $accomplishemnts-bg-color;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: darken($white, 10%);
  .accomplishemnt-item {
    width: 100%;
    @include display(column);
    justify-content: center;
    .accomplishment-icon {
      font-size: 35px;
    }

    h1 {
      font-size: 70px;
      margin: 1px 0;
      color: $primary;
    }
    span {
      font-size: 20px;
    }
  }

  @include mediaqueries(1000px) {
    .accomplishemnt-item {
      .accomplishment-icon {
        font-size: 30px;
      }

      h1 {
        font-size: 60px;
        margin: 1px 0;
        color: $primary;
      }
      span {
        font-size: 16px;
      }
    }
  }
  @include mediaqueries(800px) {
    .accomplishemnt-item {
      .accomplishment-icon {
        font-size: 25px;
      }

      h1 {
        font-size: 50px;
        margin: 1px 0;
        color: $primary;
      }
      span {
        font-size: 14px;
      }
    }
  }
  @include mediaqueries(700px) {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    .accomplishemnt-item {
      margin: 40px 0;
      .accomplishment-icon {
        font-size: 25px;
      }

      h1 {
        font-size: 40px;
        margin: 1px 0;
        color: $primary;
      }
      span {
        font-size: 14px;
      }
    }
  }
  @include mediaqueries(360px) {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    .accomplishemnt-item {
      margin: 40px 0;
      .accomplishment-icon {
        font-size: 25px;
      }

      h1 {
        font-size: 40px;
        margin: 1px 0;
        color: $primary;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
